html {
    font-size: 15px;
}

body {
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

.start__page {
    width: 100%;
    height: 100vh;
}

.start__main {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
}

.start__left {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #74cafe;
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.start__big-bird {
    width: 180%;
    height: 180%;
    fill: #1da1f2;
    position: absolute;
    top: 55%;
    left: 70%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 0;
}

.start__info {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.start__info-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 100;
}

.start__info-item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.start__info-item:last-child {
    margin-bottom: 0;
}

.start__search {
    fill: white;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.start__group {
    fill: white;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.start__comment {
    fill: white;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.start__info-item--text {
    font-size: 19px;
    color: white;
    font-weight: bold;
}

.start__right {
    width: 50%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    background: white;
    position: relative;
    padding: 60px 15px;
}

.start__right-inner {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 10px;
    overflow: hidden;
}

.small__bird {
    fill: #1da1f2;
    width: 40px;
    height: 40px;
}

.small__bird-animation {
    -webkit-animation: animation-bird;
    animation: animation-bird;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    width: 170px;
    height: 170px;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animation-bird {
    0% {
        width: 170px;
        height: 170px;
    }

    50% {
        width: 30px;
        height: 30px;
    }

    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        width: 40px;
        height: 40px;
    }
}

@keyframes animation-bird {
    0% {
        width: 170px;
        height: 170px;
    }

    50% {
        width: 30px;
        height: 30px;
    }

    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        width: 40px;
        height: 40px;
    }
}

.start__right-title {
    color: #0f1419;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 60px;
    -webkit-transform: translateX(2561px);
    transform: translateX(2561px);
    -webkit-animation: start__right-advent;
    animation: start__right-advent;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.start__right-subtitle {
    font-size: 19px;
    opacity: 0;
    color: #0f1419;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-transform: translateX(160%);
    transform: translateX(160%);
    -webkit-animation: start__subright-advent;
    animation: start__subright-advent;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes start__subright-advent {
    0% {
        -webkit-transform: translateX(2561px);
        transform: translateX(2561px);
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes start__subright-advent {
    0% {
        -webkit-transform: translateX(2561px);
        transform: translateX(2561px);
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes start__right-advent {
    0% {
        -webkit-transform: translateX(2561px);
        transform: translateX(2561px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes start__right-advent {
    0% {
        -webkit-transform: translateX(2561px);
        transform: translateX(2561px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.start__buttons {
    width: 65%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    opacity: 0;
    -webkit-animation: login__btn-animation;
    animation: login__btn-animation;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.start__registration-btn {
    margin-bottom: 15px;
    padding: 9px 33px;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: #1da1f2;
    border: 0;
    border-radius: 25px;
    outline: 0;
    cursor: pointer;
    transition: background 0.3s linear;
}

.start__registration-btn:hover {
    background: #0c85d0;
    text-decoration: none;
    color: white;
}

@-webkit-keyframes login__btn-animation {
    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes login__btn-animation {
    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
}

.start__input-btn {
    padding: 9px 33px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    color: #1da1f2;
    background: white;
    border: 1px solid #1da1f2;
    outline: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s linear;
}

.start__input-btn:hover {
    background: #e8f5fe;
    text-decoration: none;
    color: #1da1f2;
}

.login {
    width: 100%;
}

.login__container {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: 15px 0;
}

.login__inner {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.login__twitter {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    fill: #1da1f2;
}

.login__title {
    margin-bottom: 20px;
    font-size: 30px;
}

.login__groups {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.input__group {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.input__label {
    font-size: 18px;
    color: #5b7083;
    margin-bottom: 5px;
}

.input__field {
    width: 60%;
    padding: 10px 35px;
    background: none;
    border: 1px solid #c4cfd6;
    border-radius: 4px;
    outline: 0;
}

.input__field:focus {
    border-color: #1da1f2;
}

.input__field:focus .input__label {
    color: #1da1f2;
}

.login-button {
    width: 60%;
    margin-top: 10px;
}

.login__btn {
    width: 100%;
    padding: 12px 35px;
    background: rgba(29, 161, 242, 0.43);
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.login__btn:hover {
    background: rgba(29, 161, 242, 0.63);
    text-decoration: none;
    color: white;
}

.login__link {
    margin-top: 20px;
    color: #1da1f2;
    text-decoration: none;
}

.login__link:hover {
    text-decoration: underline;
    color: #1da1f2;
}

.login__title--registration {
    text-align: center;
    line-height: 1.2;
}

.home {
    width: 100%;
    border-bottom: 1px solid #ebeef0;
    padding: 0 15px;
}

.home__inner {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}

.header {
    width: 25%;
    padding: 10px 10px;
}

.header__inner {
    width: 100%;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 15px;
}

.circle__small-bird {
    width: 65px;
    height: 65px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    margin-left: 22px;
    margin-bottom: 22px;
}

.circle__small-bird:hover {
    background: rgba(29, 161, 242, 0.1);
    border-radius: 50%;
}

.header__small-bird {
    width: 50px;
    height: 50px;
    fill: #1da1f2;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.home__home {
    width: 40px;
    height: 40px;
    fill: #0f1419;
    transition: all 0.2s linear;
}

.nav__link:focus .home__home {
    fill: #1da1f2;
}

.nav__link:hover .home__home {
    fill: #1da1f2;
}

.profile {
    width: 38px;
    height: 40px;
    margin-left: 2px;
    fill: #0f1419;
    transition: all 0.2s linear;
}

.nav__link:focus .profile {
    fill: #1da1f2;
}

.nav__link:hover .profile {
    fill: #1da1f2;
}

.nav__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 25px;
    margin-bottom: 10px;
    transition: all 0.2s linear;
}

.nav__link:last-child {
    margin-bottom: 0;
}

.nav__link:focus .nav__link-name,
  .nav__link .helper-color {
    color: #1da1f2;
}

.nav__link:hover {
    background: #e8f5fe;
    padding: 8px 25px;
    border-radius: 25px;
    text-decoration: none;
}

.nav__link-name {
    font-size: 18px;
    text-decoration: none;
    color: #0f1419;
    margin-left: 10px;
    font-weight: bold;
    transition: color 0.2s linear;
}

.nav__link:hover .nav__link-name {
    color: #1da1f2;
    text-decoration: none;
}

.nav__link--tweet {
    padding: 13px 60px;
    background: #1da1f2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background 0.3s linear;
}

.nav__link--tweet:hover {
    background: #0c82cb;
    text-decoration: none;
    color: white;
}

.nav__link-logout {
    padding: 13px 65px;
    background: white;
    color: #1da1f2;
    border: 1px solid #1da1f2;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 15px;
    margin-bottom: 60px;
    transition: background 0.3s linear;
}

.nav__link-logout:hover {
    background: #e8f5fe;
    text-decoration: none;
    color: #1da1f2;
}

.home__small-profile {
    padding: 4px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 20px;
}

.home__small-profile:hover {
    background: #e8f5fe;
}

.home__profile-image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.home__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.home__small-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.small__profile-name {
    font-size: 18px;
    font-weight: bold;
}

.small__profile-alies {
    font-size: 15px;
    color: #5b7083;
}

.search__block {
    width: 25%;
}

.main__block {
    width: 50%;
    border-left: 1px solid #ebeef0;
    border-right: 1px solid #ebeef0;
    position: relative;
}

.block__head {
    background: white;
    width: 100%;
    border-bottom: 1px solid #ebeef0;
    padding: 15px 15px;
    z-index: 1;
}

.block__head--title {
    font-size: 22px;
    font-weight: bold;
}

.block__write-tweet {
    width: 100%;
    padding: 15px 5px;
}

.write__tweter-inner {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.write__tweet-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.write__tweet-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.write__tweet-field {
    margin-top: 15px;
    width: 85%;
}

.write__tweet-text {
    width: 100%;
    border: 0;
    resize: none;
    outline: 0;
    min-height: 60px;
    max-height: 60px;
    font-size: 18px;
}

.write__tweet-text::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #5b7083;
}

.write__tweet-text::-moz-placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #5b7083;
}

.write__tweet-text:-ms-input-placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #5b7083;
}

.write__tweet-text::-ms-input-placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #5b7083;
}

.write__tweet-text::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #5b7083;
}

.write__tweet-text:focus {
    border-bottom: 1px solid #ebeef0;
}

.send__tweet {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.send__tweet-btn {
    padding: 9px 28px;
    background: #b7e1fb;
    border: 0;
    border-radius: 25px;
    outline: 0;
    cursor: pointer;
    transition: background 0.2s linear;
    color: white;
    font-weight: bold;
}

.send__tweet-btn:hover {
    background: #87cdf8;
    text-decoration: none;
    color: white;
}

.search__block {
    width: 25%;
}

.tweet__items {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tweet__item {
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #ebeef0;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
    color: black;
}

.tweet__item:first-child {
    border-top: 12px solid #ebeef0;
}

.tweet__item:last-child {
    border-bottom: none;
}

.tweet__item--singletweet:last-child {
    border-bottom: 1px solid #ebeef0;
}

.tweet__item:hover {
    background: #f9fafb;
    text-decoration: none;
    color: black;
}

.tweet__item--singletweet:hover {
    background: none;
}

.tweet__item--singletweet {
    border-top: 12px solid #ebeef0;
    cursor: default;
}

.tweet__header {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: black;
}

.tweet__header--modal {
    width: auto;
}

.tweet__image {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.tweet__img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.tweet__name-author {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

.tweet__aliase-author {
    font-size: 16px;
    margin-right: 10px;
    color: #5b7083;
}

.tweet__date-author {
    font-size: 16px;
    color: #5b7083;
}

.tweet__text {
    margin-top: 15px;
    font-size: 18px;
    color: black;
}

.tweet__comment {
    margin-top: 10px;
    width: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    border: 0;
    outline: 0;
    background: 0;
    cursor: pointer;
}

.tweet__comment:hover .tweet__comment-icon {
    fill: #1da1f2;
    text-decoration: none;
}

.tweet__comment:hover .tweet__reply {
    color: #1da1f2;
    text-decoration: none;
}

.tweet__comment:focus {
    outline: 0;
}

.tweet__comment-icon {
    width: 25px;
    height: 25px;
    fill: #5b7083;
    margin-right: 6px;
}

.tweet__reply {
    font-size: 16px;
    color: #5b7083;
}

.home__com {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}

.block__head-profile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.arrow__back {
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: background 0.3s linear;
}

.arrow__back:hover {
    border-radius: 50%;
    background: rgba(29, 161, 242, 0.1);
}

.arrow {
    width: 30px;
    height: 30px;
    fill: #1da1f2;
}

.profile__photo {
    width: 100%;
    background: #c3ced5;
    padding-bottom: 33%;
    position: relative;
}

.profile__circle--photo {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid white;
    bottom: -65px;
    left: 20px;
}

.profile__img {
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 0;
    border-radius: 50%;
}

.profile__info {
    width: 100%;
    margin-bottom: 30px;
}

.profile__edit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
    text-decoration: none;
}

.profile__edit:hover {
    text-decoration: none;
}

.edit__text {
    font-weight: bold;
    font-size: 18px;
    color: #1da1f2;
    padding: 9px 20px;
    text-decoration: none;
}

.edit__text:hover {
    background: rgba(29, 161, 242, 0.1);
    padding: 9px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #1da1f2;
}

.profile__name {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 22px;
}

.profile__alies {
    font-size: 18px;
    color: #5b7083;
    margin-left: 15px;
    margin-bottom: 20px;
}

.profile__count-tweets {
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #5b7083;
}

.profile__count {
    color: #0f1419;
    margin: 0;
}

.profile__tweets-header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #1da1f2;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.profile__tweets-header:hover {
    background: rgba(29, 161, 242, 0.1);
}

.profile__tweets-header::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #1da1f2;
    position: absolute;
    bottom: 0;
    left: 0;
}

.singletweet {
    border-top: 1px solid #ebeef0;
}

.singletweet__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.singletweet__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.singlet__name {
    font-size: 20px;
}

.singlet__aliase {
    font-size: 20px;
}

.singletweet__image {
    width: 70px;
    height: 70px;
}

.singletweet__comments {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.singlettweet__text {
    font-size: 22px;
    font-weight: bold;
    color: #0f1419;
}

.singlettweet__date {
    font-size: 20px;
    margin-top: 15px;
}

.singleet__help-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.singlet__comment-btn {
    width: 100%;
    display: block;
}

.singlet__comment-btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ebeef0;
    margin-top: 10px;
}

.singlet__comment-btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ebeef0;
    margin-bottom: 10px;
}

.comment__item {
    padding: 10px 20px;
    text-decoration: none;
    border-bottom: 1px solid #ebeef0;
}

.comment__item--over {
    text-decoration: none;
    border-bottom: 1px solid #ebeef0;
    padding: 10px;
}

.comment__item:hover {
    background: #f9fafb;
    text-decoration: none;
}

.comment__item--over:hover {
    background: #f9fafb;
    text-decoration: none;
}

.tweet__image--over {
    width: 15%;
    height: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.tweet__img--over {
    width: 50px;
    height: 50px;
}

.tweet__info--over {
    display: block;
    width: 85%;
    margin-top: 10px;
}

.tweet__text--over {
    margin-top: 0;
}

.tweet__short-info--over {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.comment__text {
    font-size: 16px;
}
