<!--{% extends 'layout/base.html' %}-->
<!--{% load static %}-->
<!--{% block title %}Login/{% endblock %}-->
<!--{% block content %}-->
<!--    <script src="{% static 'js/vue.js' %}"></script>-->
<!--    <section class="login">-->
<!--        <div class="login__container">-->
<!--            <div class="login__inner">-->
<!--                <svg class="login__twitter">-->
<!--                    <use xlink:href="#small_bird"></use>-->
<!--                </svg>-->
<!--                <h1 class="login__title">Войти в Твиттер</h1>-->
<!--                <form method="post" class="login__groups">-->
<!--                    {% csrf_token %}-->
<!--                    {% if success_registration %}-->
<!--                        <div>{{ success_registration }}</div>-->
<!--                    {% elif error_auth %}-->
<!--                        <div>{{ error_auth }}</div>-->
<!--                    {% endif %}-->
<!--                    <div class="input__group">-->
<!--                        <label for="email" class="input__label">Адрес электронной почты</label>-->
<!--                        <input type="email" id="email" name="email" class="input__field" required>-->
<!--                    </div>-->
<!--                    <div class="input__group">-->
<!--                        <label for="password" class="input__label">Пароль</label>-->
<!--                        <input type="password" id="password" name="password" class="input__field" required>-->
<!--                    </div>-->
<!--                    <div class="login-button">-->
<!--                        <button class="login__btn" type="submit">Войти</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--                <a href="{% url 'registration' %}" class="login__link">- Зарегистрироваться в Твиттере -</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    <script>-->
<!--    let app = Vue.createApp({-->

<!--    });-->

<!--    app.mount('')-->
<!--    </script>-->
<!--{% endblock %}-->