<!--&lt;!&ndash;{% load static %}&ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>{% block title %}{% endblock %}Twitter</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">-->
<!--    {% include 'layout/head.html' %}-->
<!--</head>-->
<!--<body>-->

<!--{% include 'layout/sprite.html' %}-->

<!--{% block content %}-->
<!--{% endblock %}-->
<!--<script src="{% static 'js/app.js' %}"></script>-->
<!--</body>-->
<!--</html>-->